.panalyze {
  font-weight: 600;
  margin-top: 50px;
  margin-left: 900px;
}

.analyzeline {
  width: 60%;
border: 1px solid black;
margin-left: 490px;
position: 'absolute'; 
margin-top: 8px;
}

.leftrectangle {
  position: fixed;
  top: 100px;
  left: 0;
  height:100%;
  width: 23.5%;
  background-color: #FEAA76;
}

.thumbnail-rectangle {
  width: 302px;
  height: 197px;
  color: black;
}
